.App {
  background: linear-gradient(45deg, rgb(0, 0, 0), rgb(26, 38, 47));
}

.App2 {
  backdrop-filter: blur(20px);
}

#github-stats > .react-activity-calendar {
  filter: invert(1);
  color: black;
}

.footer i {
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  .App2 > div:not(#home) {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }

  .App > .App2 .container > .form {
    width: 100%;
  }

  .App > .App2 #about {
    width: 90%;
  }

  .App > .App2 #about > div > p:nth-child(2) {
    font-size: 21px;
  }
}
