.section_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details_wrapper > div {
  display: flex;
  gap: 30px;
}

/* typing text  */
.details_wrapper p.first_sec_heading,
.details_wrapper div span {
  font-size: 3.6rem;
  font-weight: 900;
  line-height: 3.8rem;
  color: white;
  text-shadow: 0px 0px 10px black;
}

.details_wrapper > p:first-child {
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.4rem;
}

/* my name and small intro */

.very_first_info {
  /* background-image: url(https://rare-gallery.com/uploads/posts/582433-night-sky-hd.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  margin: auto;
  text-align: center;
  height: 100vh;
  margin-bottom: -180px;
}

.names_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(20px);
  padding: 0px 15%;
}

.very_first_info .details_wrapper {
  gap: 2rem;
}

.very_first_info .details_wrapper > p:nth-child(2) {
  max-width: 100%;
  width: 70%;
}

.very_first_info p:nth-child(2) {
  font-size: 24px;
  font-weight: 400;
  line-height: 2rem;
  color: white;
  text-shadow: 0px 0px 10px black;
}

.very_first_info button, .send_button button  {
  font-size: 16px;
  text-transform: uppercase;
  align-items: center;
  transition: all 0.3s ease-in-out;
  /* box-shadow: 0px 0px 10px rgb(255, 255, 255); */
  box-shadow: 0px 0px 8px rgba(61, 181, 225, 0.5);
  background-color: transparent;

}

/* about me section*/

.section_wrapper.about_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  z-index: 1;
  position: relative;
  gap: 3rem;
  border-radius: 15px;
  background-color: white;
  width: 70%;
  margin: auto;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(61, 181, 225, 0.5);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  color: white;
  backdrop-filter: blur(20px);
  padding: 30px;
}

.profile_image {
  height: 350px;
  justify-self: center;
  align-self: center;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
}

/* .section_wrapper.about_section:hover {
  scale: 1.05;
} */

/* .section_wrapper.about_section:hover .profile_image {
  scale: 0.95;
} */

.section_wrapper.about_section > .details_wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 65%;
}

.introduction {
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
}

/* skills and projects section */

.services_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 0px 15%;
}

.grid_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 26px;
  justify-content: center;
}

.service_heading {
  font-size: 2.6rem;
  font-weight: 800;
  color: white;
}

/* skills section/cards  */

.skill_grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2.2rem;
  grid-template-columns: repeat(10, auto);
  justify-content: space-around;
  box-shadow: 0px 0px 10px rgba(61, 181, 225, 0.5);
  padding: 2rem 3rem;
  border-radius: 15px;
  color: white;
}

.skills_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 18px;
  background-color: transparent;
}

.skills_card > img {
  height: 70px;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
  border-radius: 15px;
}

.skills_card:hover > img {
  scale: 1.26;
}

.skills_card > p:nth-child(2) {
  font-size: 21px;
  font-weight: 800;
}

.skills_card > p:nth-child(3) {
  display: none;
  font-size: 20px;
  margin-top: 10px;
}

.skils_inner {
  display: grid;
  justify-content: center;
  place-items: center;
  grid-template-columns: repeat(10, auto);
  border-radius: 15px;
  padding: 3rem 3rem;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
}

/* projects section  */

.service_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.3); */
  /* background-color: white; */
  box-shadow: 0px 0px 10px rgba(61, 181, 225, 0.5);
  background-color: transparent;
  color: white;
  border-radius: 18px;
  padding: 10px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}

.service_card:hover {
  /* box-shadow: 0px 1px 40px rgb(0, 0, 0, 0.3); */
  box-shadow: 0px 1px 40px rgba(61, 181, 225, 0.5);
  z-index: 10;
  scale: 1.1;
  rotate: 2deg;
}

.service_card > img {
  width: 100%;
  border-radius: 18px;
}

.service_card > .service_body {
  padding: 20px 1rem;
  font-size: 18px;
}

.service_card > .service_body > p:nth-child(1) {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 9px;
  text-decoration: 1px solid underline;
}

.service_card > .service_body > p:nth-child(1)::after {
  content: " 👈";
  text-decoration: none;
  color: red;
  text-decoration: 1px solid red;
  cursor: pointer;
}

.service_card > .service_body > a:nth-child(2) {
  font-size: 18px;
  /* color: rgb(16, 36, 211); */
  color: rgb(206, 206, 206);
  text-decoration: 1px solid underline;
  font-weight: 500;
  margin-top: 10px;
  text-align: left;
}

.service_card > .service_body > p:nth-child(3) {
  font-size: 20px;
  margin-top: 10px;
  text-align: left;
}

.tech_stack_outer {
  padding: 10px 0px;
}

.tech_stack_outer > p {
  font-size: 18px;
  font-weight: 900;
}

.tech_stack_outer > ul {
  margin: 8px 30px;
}

/* service ends here  */

/* github stack  */

.github_grid_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 25px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.details_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.details_wrapper + img {
  width: 100%;
  height: 100%;
}

.image_wrapper {
  width: 100%;
}

.pictures {
  width: 100%;
}

.pictures > img {
  width: 100%;
}

.pictures:nth-child(4) {
  width: 500px;
}

.wave_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  border-radius: 10px;
  height: 58px;
  color: white;
  font-weight: 500;
  text-shadow: 0px 0px 5px black;
  border: 1px solid rgb(8, 134, 203);
  position: relative;
  font-size: 20px;
  overflow: hidden;
  cursor: pointer;
  margin-top: 15px;
  transition: all 0.5s;
}

.wave_wrapper:hover {
  box-shadow: 1px 1px 15px rgb(2, 52, 79);
}

.wave_wrapper:hover::before {
  top: 20%;
}

.wave_wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 450px;
  height: 450px;
  left: 60%;
  transform: translate(-50%);
  border-radius: 44%;
  background-color: rgb(8, 134, 203);
  border: 1px solid rgb(8, 134, 203);
  animation: wave 18s infinite linear;
  transition: all 1s;
  z-index: -1;
}

@keyframes wave {
  0% {
    transform: translate(-55%) rotate(-180deg);
  }
  100% {
    transform: translate(-50%) rotate(360deg);
  }
}

@media only screen and (max-width: 1670px) {
  .skill_grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 1295px) {
  .skill_grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .github_grid_section {
    grid-template-columns: repeat(1, 1fr);
  }

  .pictures:nth-child(4) {
    width: 100%;
  }
}

@media only screen and (max-width: 1590px) {
  div.details_wrapper .first_sec_heading {
    font-size: 2.8rem;
    font-weight: 800;
  }

  div.details_wrapper > p:nth-child(2) {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 1450px) {
  div.section_wrapper.about_section {
    padding: 2rem;
    justify-content: center;
  }
  div.section_wrapper.about_section > div.details_wrapper {
    width: 100%;
    padding: 10px;
  }

  div.section_wrapper.about_section > div.details_wrapper > p:first-child {
    text-align: center;
    width: 100%;
    margin: -35px 0px 0px 0px !important;
  }
}

@media only screen and (max-width: 1335px) {
  .section_wrapper:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service_heading {
    text-align: center;
    font-size: 2.4rem;
  }

  .section_wrapper:nth-child(5) {
    display: flex;
    flex-direction: column-reverse;
    gap: 2.3rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  div.section_wrapper:nth-child(7) {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .details_wrapper > p:nth-child(1) {
    font-size: 2.7rem;
  }
}

@media only screen and (max-width: 1265px) {
  .grid_section {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  .service_heading {
    text-align: center;
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 1148px) {
  .grid_section {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .outer_wrapper {
    font-family: "Mukta";
    padding: 0px 20px;
    text-align: center;
  }

  .details_wrapper > p:nth-child(1) {
    font-size: 2.4rem;
  }

  .section_wrapper .details_wrapper > p:nth-child(2) {
    font-size: 23px;
  }
}

@media only screen and (max-width: 1295px) {
  .skill_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 850px) {
  .name_wrapper_inner {
    display: flex;
    flex-direction: column;
    gap: -10px;
    width: 100%;
  }

  .service_card:hover {
    rotate: 0deg;
    scale: 1.03;
  }

  .names_wrapper {
    padding: 0px;
  }

  .name_wrapper_inner > div > div > span {
    font-size: 2.5rem;
    line-height: 10px;
  }

  .names_wrapper > .details_wrapper > div.name_wrapper_inner + p {
    width: 100%;
  }

  .name_wrapper_inner p {
    font-size: 20px;
    width: 100%;
  }
}

@media only screen and (max-width: 704px) {
  .outer_wrapper {
    font-family: "Mukta";
    padding: 0px 20px;
  }

  .details_wrapper > p.first_sec_heading {
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 3rem;
    color: rgb(7, 18, 43);
  }

  .service_heading {
    text-align: center;
    font-size: 1.9rem;
  }

  div.details_wrapper > p:nth-child(2) {
    font-size: 23px;
    font-weight: 400;
    line-height: 2.1rem;
  }
}
